{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "globals": {
    "_": "readonly"
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "no-irregular-whitespace": 0
  },
  "parser": "@typescript-eslint/parser"
}
